.cell {
	box-sizing: border-box;
	border: 0.0625rem var(--grid-color) solid;
	border-top: 0;
	border-left: 0;
	cursor: default;
	display: inline-block;
	font-size: 1rem;
	height: 1rem;
	width: 1rem;
	vertical-align: top;
}

.cell--inner {
	border-bottom-color: var(--game-border-dark);
	border-left-color: var(--game-border-light);
	border-right-color: var(--game-border-dark);
	border-style: solid;
	border-top-color: var(--game-border-light);
	border-width: 0.125rem;
	box-sizing: border-box;
	color: transparent;
	cursor: default;
	font-family: 'VT323', monospace;
	font-size: 1.25rem;
	height: calc(1rem - 0.0625rem);
	line-height: 0.8;
	text-align: center;
	width: calc(1rem - 0.0625rem);
}

.cell--inner[data-revealed="true"][data-flagged="false"] {
	border-width: 0;
}

.cell[data-number="0"] [data-revealed="true"] {
	color: rgba(0, 0, 0, 0.2);
}

.cell[data-number="1"] [data-revealed="true"] {
	color: var(--val-1);
}

.cell[data-number="2"] [data-revealed="true"] {
	color: var(--val-2);
}

.cell[data-number="3"] [data-revealed="true"] {
	color: var(--val-3);
}

.cell[data-number="4"] [data-revealed="true"] {
	color: var(--val-4);
}

.cell[data-number="5"] [data-revealed="true"] {
	color: var(--val-5);
}

.cell[data-number="6"] [data-revealed="true"] {
	color: var(--val-6);
}

.cell[data-number="7"] [data-revealed="true"] {
	color: var(--val-7);
}

.cell[data-number="8"] [data-revealed="true"] {
	color: var(--val-8);
}

.cell [data-flagged="true"] {
	color: var(--system-text);
	font-size: 0.5rem;
	line-height: 1.6;
}

[data-game-over="true"] .cell[data-number="-1"] .cell--inner {
	color: var(--system-text);
	font-size: 0.6rem;
	line-height: 1.6;
}

.cell.cell-triggered .cell--inner {
	border: 0;
	background: var(--error);
}