.menu-number {
	background: black;
	color: red;
	font-display: block;
    font-family: 'VT323', Monaco, monospace;
	font-size: 2rem;
	line-height: 0.7;
	height: 1.5rem;
	text-align: right;
	width: 2.5rem;
}