.app {
	border: 0.0625rem var(--system-bg) solid;
	display: inline-block;
	width: auto;
}

.app--game-wrapper {
	background: var(--game-bg);
	border-color: var(--game-border-light);
	border-style: solid;
	border-left-width: 0.1875rem;
	border-top-width: 0.1875rem;
	border-right-width: 0;
	border-bottom-width: 0;
	padding: 0.375rem;
}


.app-expert {
	width: 31.3125rem;
	height: 21.0625rem;
}

.app-intermediate {
	width: 17.3125rem;
	height: 21.0625rem;
}

.app-beginner {
	width: 11.3125rem;
	height: 15.0625rem;
}